<title>This is the title </title>
<h1>TinyURL</h1>


<% if(username){ %>
  <p>Username: <%= username%></p>
    <form method="POST" action="/logout"><button>Logout</button></form>
<% } else { %>
<!-- Login button -->
<table>
<tr>

<form action="/login%>" method="POST">
  <label for="/login">Login</label>
  <input id="username" type="text" name="username" placeholder="Username" style="width: 100px">
  <input type="submit" value="login">
</form>

<!-- Register button -->

<form action="/u/register" method="POST">
  <label for="longURL">Register</label>
  <input type="submit" value="Enter"></tr>
</form>
</table>

<% } %>


