<title>This is the title </title>
<h1>TinyURL</h1>


<% if(username){ %>
  <h3><%= username%></h3>
    <form method="POST" action="/logout"><button>Logout</button></form>
<% } else { %>
<form action="/login%>" method="POST">
  <label for="/login">Login</label>
  <input id="username" type="text" name="username" placeholder="Username" style="width: 100px">
  <input type="submit" value="login">
</form>
<% } %>


