<title>This is the title </title>
<h1>TinyURL</h1>
<% if(user){ %>
  <p>Username: <%= user.email%></p>
  <form method="POST" action="/logout"><button>Logout</button></form>
  <a href="http://localhost:8080/urls"> My Links</a>
<% } else { %>
  <a href="http://localhost:8080/login"> Login Here</a>
  <a href="/register"> Register Here</a>
<% } %>


