<title>This is the title </title>
<h1>TinyURL</h1>

<!-- left of here connecting user_id to app.gets/url page -->

<% if(user){ %>
  <p>Username: <%= user.id%></p>
    <form method="POST" action="/logout"><button>Logout</button></form>
<% } else { %>
<!-- Login Button -->
<button><a href="http://localhost:8080/login"> Login Here</a></button>
<table>
<tr>



<form action="/u/register" method="POST">
  <label for="longURL"></label>
  <input type="submit" value="Register Here"></tr>
</form>
</table>

<% } %>


