<!DOCTYPE html>

<html lang ="en">

<head>
  <title>TinyApp </title>
</head>

<body>
<header>
<% include ../partials/_headers %>
</header>
  <table>
  <tr>
  <h3><%=  url.shortURL %> </h3>
    <!-- update button -->
  </tr>
  <tr>
  <th><form action="/urls/<%= url.shortURL %>" method="POST">
    <label for="longURL">Update your website:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px" >
    <input type="submit" value="Update"></th>
  </form>
  </tr>
  </table>






</body>

</html>




