<!DOCTYPE html>

<html lang ="en">

<head>
  <title>TinyApp </title>
</head>

<body>
  <header>
    <% include ../partials/_headers %>
  </header>
    <li><%= `${shortURL} - ${urls[shortURL]}`%></li>


</body>

</html>




