<!DOCTYPE html>

<html lang ="en">

<head>
  <title>TinyApp </title>
</head>

<body>
  <header>
    <% include ../partials/_headers %>
  </header>
    <h2><%= `${shortURL}`%></h2>
    <li><%= `${urls[shortURL]}`%></li>
    <button>Update</button>
    <button>Delete</button>


</body>

</html>




