<!DOCTYPE html>

<html lang ="en">

<head>
<header>
  <% include ../partials/_headers%>
</header>
  <title>TinyApp </title>
</head>

<body>
<% if (user) { %>
  <% for (url of urls) {%>
    <li><%= url.shortURL %> - <%= url.longURL %> </li>
    <button><a href="http://localhost:8080/urls/<%= url.shortURL%>"> edit</a></button>
    <form method="POST" action="/urls/<%=url.shortURL%>/delete"><button>Delete</button></form>
  <% }; %>
  <div></div>
  <a href="http://localhost:8080/urls/new"> Shorten Link Here</a>
<% } %>
</body>

</html>



